<%- include ('./includes/head.ejs') %>

<div class="form-group">
  <h1>کارهای <small>روزمره</small></h1>

  <br />

  <%- include ('./includes/todoForm.ejs') %>

  <div class="mx-auto w-50 mb-3 alert alert-primary row">
    <p class="d-inline col">
      کارهای انجام شده:
      <span class="badge badge-success badge-pill"> <%= doneTodos %> </span>
    </p>
    <p class="d-inline col">
      کارهای باقی مانده امروز:
      <span class="badge badge-warning badge-pill"> <%= reminingTodos %> </span>
    </p>
  </div>

  <%- include ('./includes/todo.ejs') %>
</div>
<%- include ('./includes/footer.ejs') %>
